@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,100&display=swap');

/*---variables---*/
:root {
    --firstColor: #800080;
    --secondColor: #ffb6c1;
    --success: #198754;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #17a2b8;
    --white: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 60%;
    margin: auto;
}

header {
    padding: 30px 0px;
    text-transform: uppercase;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo {
    text-decoration: none;
    font-size: 30px;
    color: var(--secondColor);
    font-weight: 800;
}

#logo span {
    color: var(--firstColor);
}

.meni a {
    text-decoration: none;
    margin-left: 30px;
    font-size: 18px;
    font-weight: 700;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.form input,select {
    width: 50%;
    height: 40px;
    margin-bottom: 20px;
    border: 2px solid var(--secondColor);
    border-radius: 10px;
    text-align: center;
}

.form input:focus {
    border: 3px solid var(--firstColor);
}

.form button {
    width: 50%;
    height: 40px;
    background-color: var(--firstColor);
    color: var(--white);
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 20px;
}

.form a {
    text-decoration: none;
    color: var(--info);
    font-weight: 600;
}

.form a:hover {
    color: var(--firstColor);
}